<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SHUP</title>
</head>
<body>
    <h1>Welcome {{username}} !!</h1>
    <h1>You are a Customer</h1>
    <h2>Client Chat</h2>
    <ul id="messages"></ul>
    <input id="messageInput" placeholder="Type a message..." />
    <button onclick="sendMessage()" type="submit">Send</button>
    <a href="{{url_for('login_bp.logout')}}"><button>Logout</button></a>

    <script>
        var socket = io();

        function sendMessage() {
            let message = document.getElementById("messageInput").value;
            socket.emit('client_message', message);
            document.getElementById("messageInput").value = ""; // Clear input
        }

        socket.on('new_message', function(data) {
            let li = document.createElement("li");
            li.textContent = `${data.sender}: ${data.message}`;
            document.getElementById("messages").appendChild(li);
        });
    </script>
</body>
</html>